
.belinda{
   
    .class{
        
       ul{
        list-style: none;
        li{
            &::before{
                content: "";
                background-color: #62DB54;
                width: 8pt;
                height: 8pt;
            }
        }
    }
    }


    .price{
        .icon{
            font-size: 32pt;
            line-height: 32pt;
            background:linear-gradient(180deg,#09ACF5,#62DB54) ;

        }
        .square {
            width: 10pt;
            height: 10pt;
            background-color: #fff;
          }
        a{
            width: 100%;
           
            color: white;
            &:hover{
                color: #62DB54;
            }
        }
    }
    .course{
        .introduce{
          border: 2pt solid #000000;
          &:hover{
            border:2pt solid #62DB54;
          }
          img{
            width: 100pt;
            height: 100pt;
          }
        }
        .btn{
          background-image: linear-gradient(104deg,#09ACF5,#62DB54);
          &:hover{
            opacity: 0.8;
          }
        }
        
      }
    

}