.fs-6{
    line-height: 26pt;
}

.fs-4{
    line-height: 19 pt;
}

.fs-1{
    line-height: 70pt;
}

.fs-3{
    line-height: 40pt;
}

.fs-2{
    line-height: 35pt;
}

.fs-7{
    line-height: 29pt;
}

.fs-8{
    line-height: 24pt;
}
.fs-9{
    line-height: 37pt;
}

.fs-10{
    line-height: 28pt;
}
.fs-18-21{
    font-size: 18pt;
    line-height: 21pt;
}
.a-hover{
    a:hover{
        opacity: 0.5;
    }
}

.py-40pt{
    padding-top: 40pt;
    padding-bottom: 40pt;
}

.mb-45pt{
    margin-bottom: 45pt;
}
.mb-6pt{
    margin-bottom: 6pt;
}
.mb-35pt{
    margin-bottom: 35pt;
}
.pb-144pt{
    padding-bottom: 144pt;
}

.ps-114pt{
    padding-left: 144pt;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1296pt;
}

.border{
    border: 1pt;
}

ul{
    list-style: none;
    
  }

.bottom-line{
    padding-bottom: 16pt;
    border-bottom: 3pt solid #62DB54;
}

.font-mono{
    font-family:  'Roboto Mono', monospace;;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

.img-100pt{
    width: 100pt;
}


.width-100{
    width: 100%;
}

